.screen {
  margin: 40px 70px 70px 160px;
  border-radius: 30px 30px 30px 30px;
  border-color: rgba(14, 20, 25, 0.31);
  border-width: thick;
  border-style: solid;
  height: 700px;
  width: 650px;
  background-color: white;
}
