.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0 0;
  grid-template-areas:
    'moneyInput moneyInput'
    'paid-amount request-change'
    'text-field-compartment-id cancel-compartment-id'
    '. enter-button';
}

.pay-field {
  background-color: white;
  border-radius: 50%;
  border: 2px solid #4caf50;
}

.control-panel-button {
  width: 100%;
  height: 100%;
}

.paid-amount-display {
  font-size: 20px;
  padding-right: 10px;
  text-align: right;
}

.text-field {
  text-align: right;
  font-size: 20px;
  background-color: #c4c4c4;
  width: 90%;
  height: 80%;
  border-radius: 5px;
}

.paid-amount {
  grid-area: paid-amount;
}
.request-change {
  grid-area: request-change;
}
.text-field-compartment-id {
  grid-area: text-field-compartment-id;
}
.cancel-compartment-id {
  grid-area: cancel-compartment-id;
}
.enter-button {
  grid-area: enter-button;
}
