.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0 0;
  grid-template-areas:
    'moneyInput moneyInput'
    'paidAmount requestChange'
    'textFieldCompartmentID cancelCompartmentID'
    '. enterButton';
}

.payField {
  background-color: white;
  border-radius: 50%;
  border: 2px solid #4caf50;
}

.controlPanelButton {
  width: 100%;
  height: 100%;
}

.paidAmountDisplay {
  font-size: 20px;
  padding-right: 10px;
  text-align: right;
}

.textField {
  text-align: right;
  font-size: 20px;
  background-color: #c4c4c4;
  width: 90%;
  height: 80%;
  border-radius: 5px;
}

.paidAmount {
  grid-area: paidAmount;
}
.requestChange {
  grid-area: requestChange;
}
.textFieldCompartmentID {
  grid-area: textFieldCompartmentID;
}
.cancelCompartmentID {
  grid-area: cancelCompartmentID;
}
.enterButton {
  grid-area: enterButton;
}
