.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0 0;
  grid-template-areas:
    'moneyInput moneyInput'
    'paidAmount returnMoney'
    'inputID cancelId'
    '. enterButton';
}

.payField {
  background-color: white;
  border-radius: 50%;
  border: 2px solid #4caf50;
}

.controlPanelButton {
  width: 100%;
  height: 100%;
}

.paidAmountDisplay {
  font-size: 20px;
  padding-right: 10px;
  text-align: right;
}

.inputField {
  text-align: right;
  font-size: 20px;
  background-color: #c4c4c4;
  width: 90%;
  height: 80%;
  border-radius: 5px;
}

.paidAmount {
  grid-area: paidAmount;
}
.returnMoney {
  grid-area: returnMoney;
}
.inputID {
  grid-area: inputID;
}
.cancelId {
  grid-area: cancelId;
}
.enterButton {
  grid-area: enterButton;
}
