.tableLayout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #dddddd;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
