# Ignore artifacts: (Name der Dateien welche nicht geformated werden sollen)
lib
iziToast.min.js
iziToast.min.css
node_modules
# Ignore all ... Files (Alle Dateiendungen welche ignoriert werden sollen)