<div class="menuOptions">
  <div class="leftSide">
    <a>➔ Betrag:</a>
    <div class="amountInputContainer">
      <input id="costumeAmount" (keyup.enter)="useCostumeAmount()" [(ngModel)]="costumeAmount" class="amountInput" type="text" />
    </div>
    <a (click)="useCostumeAmount()">• Bestätigen</a>
  </div>
  <div class="rightSide">
    <a></a>
    <a></a>
    <a></a>
  </div>
</div>
<div *ngIf="errorMessage" class="error">
  {{ errorMessage }}
  <button (click)="clearError()">X</button>
</div>
