<!-- header -->

<header>
  <h1> Pokedex </h1>
</header>
<a class="logoDev" href="https://www.pokemon.com/de" target="_blank">
  <img src="/International_Pokémon_logo.svg.png" class="logo" alt="Pokemon logo" />
</a>
<h1>Pokedex</h1>
<div class="inputField">
  <label for="inputField">Pokemon ID: </label>
  <input id="input" type="text" />
  <button class="searchButton" id="searchButton" type="button">Suche</button>
</div>
<div class="Output">
  <img id="myImage" hidden src="" class="animatedImage" alt="" />
  <p class="outputBox" id="msg" disabled></p>
</div>
<div class="box">
  <a class="button" id="popupButton" href="#popup1">Pokemon Liste</a>
</div>

<div id="popup1" class="overlay">
  <div class="popup">
    <h2>Pokemon List</h2>
    <a class="close" id="closePopupButton" href="#">&times;</a>
    <div id="popupContent" class="content"></div>
  </div>
</div>

<router-outlet></router-outlet>
