body {
    font-family: "Arial", sans-serif;
    background: linear-gradient(-45deg, #c6745b, #f572a4, #40a1c4, #42c5a6);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

section {
    text-align: center;
}

.choose--player {
    font-size: 14px;
    align-content: center;
    height: 40px;
    width: 98px;
    margin: 0px;
    margin-top: 3px;
    border-radius: 10px;

}

.game--title {
    font-size: 65px;
    color: #17416e;
    margin: 10px auto;
    text-shadow: 3px 3px #1b79ace2;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 310px;
    margin: 10px auto;
    background-color: #aca8a897;
    color: #26729c;
}

.cell.x {
    background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(red) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
        linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(red) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.cell.circle {
    background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--color-set) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
        linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--color-set) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.cell0 {
    font-family: "Permanent Marker", cursive;
    width: 98px;
    height: 100px;
    box-shadow: 2px 2px 10px #26729c;
    border: 3px solid #3565b1;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
    background-color: #17416e;

}

.cell1 {
    font-family: "Permanent Marker", cursive;
    width: 98px;
    height: 100px;
    box-shadow: 2px 2px 10px #26729c;
    border: 3px solid #3565b1;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;

}

.cell2 {
    font-family: "Permanent Marker", cursive;
    width: 98px;
    height: 100px;
    box-shadow: 2px 2px 10px #26729c;
    border: 3px solid #3565b1;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;

}

.cell3 {
    font-family: "Permanent Marker", cursive;
    width: 98px;
    height: 100px;
    box-shadow: 2px 2px 10px #26729c;
    border: 3px solid #3565b1;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;

}

.cell4 {
    font-family: "Permanent Marker", cursive;
    width: 98px;
    height: 100px;
    box-shadow: 2px 2px 10px #26729c;
    border: 3px solid #3565b1;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;

}

.cell5 {
    font-family: "Permanent Marker", cursive;
    width: 98px;
    height: 100px;
    box-shadow: 2px 2px 10px #26729c;
    border: 3px solid #3565b1;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;

}

.cell6 {
    font-family: "Permanent Marker", cursive;
    width: 98px;
    height: 100px;
    box-shadow: 2px 2px 10px #26729c;
    border: 3px solid #3565b1;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;

}

.cell7 {
    font-family: "Permanent Marker", cursive;
    width: 98px;
    height: 100px;
    box-shadow: 2px 2px 10px #26729c;
    border: 3px solid #3565b1;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;

}

.cell8 {
    font-family: "Permanent Marker", cursive;
    width: 98px;
    height: 100px;
    box-shadow: 2px 2px 10px #26729c;
    border: 3px solid #3565b1;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;

}


.game--status {
    font-size: 50px;
    color: #d7a62f;
    margin: 20px auto;
}

button {
    background-color: #3565b1;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #f9f9f9;
    box-shadow: 2px 2px 3px #183055;
    border-radius: 15px;
    border: 2px solid #214379;
}

.infoFeld {
    margin-top: 1%;
    margin-right: 10%;
    margin-left: 10%;
    padding: 1px;
    background-color: #ffffff91;
    border-radius: 3%;
}
