<div>
  <app-header></app-header>

  <div class="input">
    <div class="inputBundesland">
      <label>Bundesland: </label>
      <select class="inputBundeslandMenu" #laender (change)="onBundeslandChange(laender.value)">
        <option *ngFor="let bundesland of bundeslaender" value="{{ bundesland.value }}">{{ bundesland.key }}</option>
      </select>
    </div>

    <div class="inputYearClass">
      <label>Jahr: </label>
      <input class="inputJahr" #year (change)="onYearChange(year.value)" value="{{ yearValue }}" />
    </div>

    <button class="inputButton" (click)="this.getFeiertage()" type="button">Feiertage anzeigen</button>
  </div>

  <ng-container *ngIf="this.feiertage$ | async as feiertage">
    <div class="tableBundesland" *ngFor="let feiertag of feiertage">
      <div class="feiertagName">{{ feiertag.name }}</div>
      <div class="feiertagDatum">{{ feiertag.date }}</div>
      <div class="feiertagWochentag">{{ feiertag.weekday }}</div>
    </div>
  </ng-container>

  <div class="link">
    <a [href]="">Download as ICS</a>
  </div>
</div>
