body {
  --primary: #405aa3; /* Pokemon Blau */
}

.searchComponent {
}

.error {
  background-color: #f44336;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.error button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  padding-left: 1700px;
  transform: translateY(-50%);
  font-size: 1em;
  cursor: pointer;
}



.header {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -160px;
  margin-left: -200px;
}

.searchButton {
  background-color: #508edb;
}

.inputField {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}

.pokemonNameOutput {
  font-size: larger;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: 290px;
}

.PokemonImg {
  position: fixed;
  height: 180px;
  width: 180px;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: 100px;
}

.PokemonImg:hover {
  filter: drop-shadow(0 0 5px rgb(56, 138, 216));
}




