body {
  --primary: #405aa3; /* Pokemon Blau */
}

.searchComponent {
}

.header {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -160px;
  margin-left: -200px;
}

.searchButton {
  background-color: #508edb;
}

.inputField {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}

.pokemonNameOutput {
  font-size: larger;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: 290px;
}

.PokemonImg {
  position: fixed;
  height: 180px;
  width: 180px;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: 100px;
}

.PokemonImg:hover {
  filter: drop-shadow(0 0 5px rgb(56, 138, 216));
}

