<div class="searchComponent">
  <h1 class="header">Pokedex</h1>
  <div class="inputField">
    <label for="input">Pokemon ID: </label>
    <input id="input" type="text" name="searchID" [(ngModel)]="searchID" />
    <button class="searchButton" id="searchButton" (click)="getValue(searchID)" type="button">Search Pokémon</button>
  </div>
  <ng-container *ngIf="pokemon$ | async as pokemon">
    <p class="pokemonNameOutput">{{ pokemon.name | titlecase}}</p>
  </ng-container>
  <ng-container *ngIf="pokemon$ | async as pokemon">
    <img class="PokemonImg" src="{{ pokemon.sprites.front_default }}" alt="Image of {{pokemon.name}}">
    <p class="pokemonNameOutput">{{ pokemon.name | titlecase}}</p>
  </ng-container>
</div>
