.error {
  color: #0e1419;
  border-radius: 12px;
  text-align: center;
  position: relative;
  font-size: 10px;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  padding-top: 30px;
}
