.header {
  background-color: #388fe1;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 12px #000000;
}

.logo {
  height: 60px;
  width: 172px;
  margin: 16px 200px 16px 16px;
  background-color: #388fe1;
}

.header-option {
  color: #0e1419;
  margin-right: 3%;
  margin-left: 3%;
  transition: transform 1s;
}

.header-option:hover {
  color: #ffffff;
  cursor: pointer;
  transform: translate(0%, -7%);
}

.header-searchbar {
  right: 5px;
  color: #000000;
  margin-right: 20px;
  width: 300px;
  height: 40px;
  align-self: flex-end;
  border-color: #ffcb05;
  border-width: 3px;
  border-radius: 10px;
  text-align: center;
  background-color: #a6b5c4;
}
