.container {
  display: grid;
  grid-template-columns: 0.4fr 2fr 0.6fr 2fr 0.4fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    '. Header Header Header .'
    '. GetränkInfos . outputField .'
    '. GetränkInfos . payField .'
    '. GetränkInfos . payField .'
    '. GetränkInfos . inputField .'
    '. . . . .';
}

.GetränkInfos {
  grid-area: GetränkInfos;
}

.outputField {
  grid-area: outputField;
}

.Header {
  grid-area: Header;
}

.payField {
  grid-area: payField;
}

.inputField {
  grid-area: inputField;
}
