.container {
  font-family: 'Lato', sans-serif;
  display: grid;
  grid-template-columns: 0.4fr 2fr 0.6fr 2fr 0.4fr;
  grid-template-rows: 0.3fr 0.2fr 1fr 1fr 1fr 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
    '. header . . .'
    '. beverage-information . output-field .'
    '. beverage-information . text-field .'
    '. . . text-field .'
    '. . . output-customer .'
    '. . . . .';
}

.beverage-information {
  grid-area: beverage-information;
}

.output-field {
  grid-area: output-field;
  background-color: #aaaaaa;
}

.header {
  grid-area: header;
}

.text-field {
  grid-area: text-field;
}

.output-customer {
  grid-area: output-customer;
}
