body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Varela Round', sans-serif;
  background-image: url(grunge-taefelungen-fuer-textur_174699-4.jpeg);
}

.headline {
  text-align: center;
  text-size-adjust: inherit;
  background-color: #a2b9bc;
  margin-right: 35%;
  margin-left: 35%;
  border-radius: 25px;
  font-size: 200%;
  box-shadow: #030203;
}
.foreground {
  color: #a2b9bc;
  background-color: #665298;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 4%;
  padding-bottom: 4%;
  border-radius: 10px;
  flex-direction: column-reverse;
  text-align: center;
}
input[type='time' i] {
  background-color: #a2b9bc;
  box-sizing: content-box;
  border-radius: 10px;
  display: inline;
  padding-inline-start: 20px;
  border-style: inset;
}
button {
  border-radius: 10px;
  border-style: groove;
  border-color: #623ac0;
  background-color: #a2b9bc;
}
button:hover {
  cursor: crosshair;
  border-width: 3px;
  border-color: rgb(97, 93, 93);
  background-color: #8fcad4;
}
input[type='range' i] {
  appearance: auto;
  cursor: grab;
  color: #a2b9bc;
  padding: initial;
  border: initial;
  margin: 2px;
}
.message {
  font-size: large;
}
