<div class="beverage-info">
  <table class="beverage-table">
    <thead>
      <tr>
        <th>Fachnummer</th>
        <th>Getränk</th>
        <th>Preis</th>
        <th>Menge</th>
      </tr>
    </thead>
    <tbody>
      <tr class="beverage-list" *ngFor="let beverage of beverages">
        <td class="beverage-id">{{ beverage.id }}</td>
        <td class="beverage-name">{{ beverage.name }}</td>
        <td class="beverage-price">{{ beverage.price }} €</td>
        <td class="beverage-price">{{ beverage.quantity }}</td>
      </tr>
    </tbody>
  </table>
</div>
