<button class="payField" (click)="this.moneyInput(10)" type="button">10€</button>
<button class="payField" (click)="this.moneyInput(5)" type="button">5€</button>
<button class="payField" (click)="this.moneyInput(2)" type="button">2€</button>
<button class="payField" (click)="this.moneyInput(1)" type="button">1€</button>
<button class="payField" (click)="this.moneyInput(0.5)" type="button">0,50€</button>
<button class="payField" (click)="this.moneyInput(0.2)" type="button">0,20€</button>
<button class="payField" (click)="this.moneyInput(0.1)" type="button">0,10€</button>
<button class="payField" (click)="this.moneyInput(0.05)" type="button">0,05€</button>
<p class="outputBox">{{ paidAmount }}€</p>
<button class="cancelButton" (click)="this.cancelMoneyInput()" type="button">CANCEL</button>

<div>
  <input class="inputField" #input (input)="onInputChange(input.value)" value="{{ inputField }}" />
  <button class="cancelButton" (click)="this.cancelButton()" type="button">CANCEL</button>
</div>

<button class="enterButton" (click)="this.getInput()" type="button">ENTER</button>
