body {
  background: linear-gradient(-45deg, #994b34, #e73c7e, #146683, #158268);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");

.infoFeld {
  margin-top: 7%;
  margin-right: 10%;
  margin-left: 10%;
  padding: 30px;
  background-color: #ffffffd7;
  border-radius: 3%;
}

.gridfoto {
  padding-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-mode-button {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  color: rgb(252, 244, 244);
  display: inline-block;
  text-align: center;
  font-size: 16px;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: rgb(65, 60, 60);
  margin: 0em;
  padding: 5px 15px;
  border-width: 4px;
  border-style: outset;
  border-color: rgb(150, 147, 147);
  border-radius: 7px;
  margin: 10px;
}
